<div class="layout layout--col layout--left">
  <div class="item">
    <div class="content" data-content-limiter="true">
      <span class="title title--small label--underline" data-clamp="3">Bete heute für: <span id="rq-country{{ rq_suffix }}"></span></span>
      <span class="label label--small" id="rq-body{{ rq_suffix }}"></span>
    </div>
  </div>
</div>

<div class="title_bar">
  <img class="image" src="https://capypara.de/pray_trmnl_black.svg">
  <span class="title">{{ trmnl.plugin_settings.instance_name }}</span>
  <span class="instance" id="rq-date{{ rq_suffix }}"></span>
</div>
