<div class="layout layout--col layout--left">
  <div class="richtext richtext--left gap--large">
    <span class="label label--base">Bete heute für</span>
    <span class="label label--underline label--large" id="rq-country{{ rq_suffix }}"></span>
    <div class="content content" id="rq-body{{ rq_suffix }}"></div>
  </div>
</div>

<div class="title_bar">
  <img class="image" src="https://capypara.de/pray_trmnl_black.svg">
  <span class="title">{{ trmnl.plugin_settings.instance_name }}</span>
  <span class="instance" id="rq-date{{ rq_suffix }}"></span>
</div>
